{% extends 'web/_base.html' %}
{% load bootstrap5 %}

{% block title %} PSV Gelsenkirchen - Login {% endblock %}

{% block authblock %}
    <form method="post" action="">
        {% csrf_token %} 
        {% bootstrap_form login_form %}
        {% if form.non_field_errors %}
            <ul class='form-errors'>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <button method="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock%}